body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	/*
	background-image: url(/img/hero-image.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	*/

}


.hero-image {
	img {
	object-fit: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	}
}

.login {
	
	position: absolute;
	top: 0px;
	background-color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 30%;
	min-width: 480px;


	.login-content{
		padding: 100px;
		align-self: center;
		/*width: 240px; */

		.login-logo{
			position: center;
			display: inline;

			a { color: #000;
				text-decoration: none;
				text-align: center;
				cursor: pointer;
				position: absolute;
				top: 80px;

			}

			img{
				width:160px;
				vertical-align: middle;
				margin: 0 0 0 50px; 
			

			}
		}

		.login-header {
			text-align: center;
			font-size: 18px;
			font-weight: light;
			margin-bottom: 50px;
		}

		input[type="name"], input[type="password"]{
			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			font-weight: light;
			width: 260px;
			height: 40px;
			padding-left: 20px;
			margin-bottom: 15px;
			background-color: #efefef;
			border-radius: 5px;
			border-width: 0;
			border: none;
			outline: none;
			transition: all .3s;
			&:focus {
				outline: none; border: 1px solid black; 
				background-color: white;

			}

		}

		input[type="submit"] {
				cursor: pointer;
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				font-weight: light;
				width: 280px;
				height: 40px;
				padding: 0;
				margin-bottom: 15px;
				background-color: #ffdd6c;
				border-radius: 5px;
				border: none;
				outline: none;
				transition: all .3s;
				&:hover {
					background-color: black;
					color: #ffdd6c;
				}
		
		}
	}
}